html {
    --background-color: #171717;
    --text-color: #e6e6e6;
    --link-color: #278cda;
    --default-margin-left: 30%;
    --function-link-width: 40%;
    --min-image-width: 64px;
    --min-image-height: 64px;
    --max-image-width: 256px;
    --max-image-height: 256px;
    --parameters-background: #404040;

    font-family: Calibri;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
}

div {
    color: var(--text-color);
}

.title {
    margin-left: var(--default-margin-left);
    color: var(--text-color);
}

.group {
    margin-left: var(--default-margin-left);
    color: var(--text-color);
}

.function-link {
    margin-left: var(--default-margin-left);
    width: var(--function-link-width);
    border-top: 2px solid gray;
}

.function-link a {
    margin-left: 1%;
}

.function-link span {
    color: var(--text-color);
    margin-left: 1%;   
}

.function {
    margin-left: var(--default-margin-left);
}

.function img {
    min-width: var(--min-image-width);
    min-height: var(--min-image-height);
    max-width: var(--max-image-width);
    max-height: var(--max-image-height);
}

.function .parameter {
    color: var(--text-color);
    background-color: var(--parameters-background);
}

.function .description {
    color: var(--text-color);
}
